body{
  color: #fff;
  background-color: #ffb6c1;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  text-align: center;
}

.section h1{
  font-family: 'Indie Flower', cursive;
  font-size: 5.2em;
}

.section p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}
