.site{
  color: #fff;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section{
  text-align: center;
}

.section h1{
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.section p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}

/*styling for typed.js*/
.text-body{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.2em;
}

/*styling for the Grids*/
.history, .believe-women, .judges, .sources{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.history{
  grid-template-areas:
    'photos info';
}

.believe-women{
  grid-template-areas:
    'twitter audio';
}

.judges{
  grid-template-areas:
    'hd hd'
    'thomas kavanaugh';
}

.sources{
  grid-template-areas:
    'links credits';
}

.photos{
  grid-area: photos;
}

.photos img, .judges img{
  width: 400px;
  height: auto;
  margin: 2% 0 2% 0;
}

.info{
  grid-area: info;
  text-align: left;
  max-width: 85%;
}

.info p, .twitter p, .credits p, .sources p{
  margin-top: 2%;
  line-height: 1.1em;
}

.twitter{
  grid-area: twitter;
  margin-left: 5%;
}

.twitter h1{
  margin-top: 5%;
}

#curator-feed{
  max-width: 85%;
  margin-top: 2%;
  max-height: 400px;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

.audio{
  grid-area: audio;
}

.thomas, .kavanaugh, .links{
  max-width: 85%;
}

.judges-header{
  grid-area: hd;
}

.thomas{
  grid-area: thomas;
  margin-left: 5%;
}

.kavanaugh{
  grid-area: kavanaugh;
}

.links{
  grid-area: links;
  margin-left: 5%;
}

.credits{
  grid-area: credits;
}

/*styling for quiz*/
#slickQuiz{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  max-width: 80%;
  margin: 0 auto;
}

.quizHeader p{
  padding: 1% 0 2% 0;
}

.button {
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color: darkred;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	  text-decoration: none;
}

.button:hover {
    background-color: #555;
}

.startQuiz {
    margin-top: 10%;
}

.tryAgain {
    float: none;
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 1.1em;
    font-style: italic;
    margin: 1% 0 1% 0;
}
.questionCount span {
    font-weight: bold;
    margin: 1% 0 1% 0;
}

ol.questions {
  margin-top: 1%;
  margin-left: 0;
  font-size: 1.1em;
}
ol.questions li {
  margin-left: 0;
}

ul.answers {
  margin: 2% 0 2% 2%;
}

ul.answers li{
  margin: 1% 0 1% 0;
}

ul.responses li {
    margin: 2% 0 2% 2%;;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
}
.complete ul.answers li.correct, ul.responses li.correct p span {
    color: #6C9F2E;
    margin-bottom: 2%;
}
ul.responses li.incorrect p span {
    color: #B5121B;
    margin-bottom: 2%;
}

.quizResults h3 {
    margin: 3% 0 3% 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}

/*Sources page*/
.sources a{
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.sources a:hover{
  color: #7F3540;
}

/*Media Queries*/
@media screen and (max-width: 750px){

  .history, .believe-women, .judges, .sources{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .history{
    grid-template-areas:
      'info'
      'photos';
  }

  .info, .twitter, .audio .judges-header, .thomas, .kavanaugh, .links, .credits {
    margin: 0 auto;
    padding: 3% 0 3% 0;
  }

  .believe-women{
    grid-template-areas:
      'twitter'
      'audio';
  }

  .twitter{
    max-width: 85%;
  }

  #curator-feed{
    max-height: 300px;
    overflow-y: scroll;
  }

  .judges{
    grid-template-areas:
      'hd'
      'thomas'
      'kavanaugh';
  }

  .thomas{
    margin: 0 auto;
  }

  .sources{
    grid-template-areas:
      'links'
      'credits';
  }
}
